@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Mono:wght@300;400&display=swap');

* { 
   margin: 0;
   padding: 0;
   border: none;
}

body {
    font-family: 'Roboto Mono', sans-serif;    
    font-weight: 400;
}

/* headings and logo */

h1 {
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #11324D;
}

h1 > span {
    color: #B33030;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 40px
}

#menu a {
    text-decoration: none;
    color: #11324D;
    transition-duration: 0.2s;
}

#menu a:hover {    
    font-size: 110%;
}

/* main image */

#main-image {
    height: 520px;
    width: 100%;
    overflow: hidden; /* didn't understand */
    position: relative;
}


#girl-image {
    height: 520px;
    width: 100%;
    background: url(../images/girl-phone.jpg) no-repeat center center;
    background-size: cover;
}

#cover-text, #cover-text h2{
    color: #fff;
}

#cover-text > h3 {
    padding-top: 10px;
}

#cover-text {
    font-size: 90%;
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 5px;

    width: 300px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;
    text-align: center;

    background-color: rgba(60, 60, 60, 0.6);

    bottom: 30px;
    right: 120px;

    position: absolute;
}

/* phone Shop Services */

#services {
    text-align: center;
    padding: 25px 0;
    font-size: 220%;
    text-transform: uppercase;
    color: #11324D;
}

#flex-position {
    display: flex;    
    width: 100%;     
    flex-wrap: wrap;     
    justify-content: center;      
    margin-bottom: 20px;
}

#right {
    align-items: center;
    width: 33%    
}

.right-image {
    background: url(../images/iphone-open.jpg) no-repeat center center;
    background-size: cover;
    width: 65%;
    height: 300px;
    border-radius: 5px;           
}

.right-text {
    width: 65%    
}

.right-image, .right-text {
    margin: 0 auto;
}

#left {
    width: 33%;    
}

.left-image {
    background: url(../images/laptop.jpg) no-repeat center center;
    background-size: cover;
    width: 65%;
    height: 300px;
    border-radius: 5px;
}

.left-text {
    width: 65%
}

.left-image, .left-text {
    margin: 0 auto;
}

#center {
    width: 33%;    
}

.center-image {
    background: url(../images/phone-open.jpg) no-repeat center center;
    background-size: cover;
    width: 65%;
    height: 300px;
    border-radius: 5px;
}

.center-text {
    width: 65%
}

.center-image, .center-text {
    margin: 0 auto;
}

/* About us */

#about-us {
    width: 100%;
    color: #11324D;
    background-color: #F7ECDE;
    padding: 30px;
    box-sizing: border-box;
}

.about {
    text-align: center;
}

.about > h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* Form */

#form {
    background-image: url(../images/signup-form.jpg);
    background-size: cover;    
    width: 100%;
    height: 550px;
    position: relative
}

.signup-form {
    margin: 80px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    border-radius: 5px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}
.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}





/* font-family: 'Lora', serif;
font-family: 'Roboto Mono', monospace; */

/* 
section 1 = #F7ECDE
section 2 = #E9DAC1
section 3 = #54BAB9

*/