@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Mono:wght@300;400&display=swap');

* { 
   margin: 0;
   padding: 0;
   border: none;
}

body {
    font-family: 'Roboto Mono', sans-serif;    
    font-weight: 400;
}

/* headings and logo */

header {
    height: 80px;
    background-color: #FBF8F1;
}

h1 {
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #11324D;
}

h1 > span {
    color: #B33030;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 60px
}

#menu a {
    text-decoration: none;
    color: #11324D;
    transition-duration: 0.2s;
}

#menu a:hover {    
    font-size: 110%;
}

/* main image */

#main-image {
    height: 520px;
    width: 100%;
    overflow: hidden; /* didn't understand */
    position: relative;
}

#cover-text, #cover-text h2{
    color: #fff;
}

#girl-image {
    height: 520px;
    width: 100%;
    background: url(../images/girl-phone.jpg) no-repeat center center;
    background-size: cover;
}

/* phone Shop Services */

#mobile-services {
    height: 550px;  
    background-color: #F7ECDE;  
}

#services {
    text-align: center;
    padding: 20px 0;
    font-size: 250%;
}

/* font-family: 'Lora', serif;
font-family: 'Roboto Mono', monospace; */

/* 
section 1 = #F7ECDE
section 2 = #E9DAC1
section 3 = #54BAB9

*/