@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Mono:wght@300;400&display=swap');

* { 
   margin: 0;
   padding: 0;
   border: none;
}

body {
    font-family: 'Roboto Mono', sans-serif;    
    font-weight: 400;
}

/* headings and logo */

h1 {
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #11324D;
}

h1 > span {
    color: #B33030;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 40px
}

#menu a {
    text-decoration: none;
    color: #11324D;
    transition-duration: 0.2s;
}

#menu a:hover {    
    font-size: 110%;
}

/* main image */

#main-image {
    height: 520px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#girl-image {
    height: 520px;
    width: 100%;
    background: url(../images/girl-phone.jpg) no-repeat center center;
    background-size: cover;
}

#cover-text, #cover-text h2{
    color: #fff;
}

#cover-text > h3 {
    padding-top: 10px;
}

#cover-text {
    font-size: 90%;
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 5px;

    width: 300px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;
    text-align: center;

    background-color: rgba(60, 60, 60, 0.6);

    bottom: 30px;
    right: 120px;

    position: absolute;
}

/* Phone Shop Services */

#container > #services {
    text-transform: uppercase;
    text-align: center;
    margin: 50px 50px;
}

#flex-container-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 450px;
    margin: 0 auto;
}

.flex-text {
    width: 80%; 
    margin: 0 auto;   
}

.flex-text > h2 {
    margin: 10px 0 10px 0;  
}

.flex-text > p {
    margin-bottom: 50px;  
}

.flex-image-all {
    width: 80%;
    height: 300px;
    border-radius: 5px;
    margin: 0 auto;
}

.flex-image1 {
    background-image: url(../images/iphone-open.jpg);
    background-size: cover;
}

.flex-image2 {    
    background-image: url(../images/laptop.jpg);  
    background-size: cover;  
}

.flex-image3 {    
    background-image: url(../images/phone-open.jpg);
    background-size: cover;    
}

/* About us */

#about-us {
    width: 100%;
    color: #11324D;
    background-color: #FDFAF6;
    padding: 60px;
    box-sizing: border-box;
}

.about {
    text-align: center;
}

.about > h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* Form */

#form {
    background-image: url(../images/signup-form.jpg);
    background-size: cover;    
    width: 100%;
    height: 550px;
    position: relative
}

.signup-form {
    margin: 80px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    border-radius: 5px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}
.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* Contact */

#contact-times {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FDFAF6; 
    color: #11324D;   
}

.contact-text {
    text-align: center;
    padding-top: 50px;
    background-color: #FDFAF6;
    text-transform: uppercase;
}

.box-contact {
    padding: 80px;
}

th, td {
    border-bottom: 1px solid black; 
}

/* Map */

iframe {
    width: 100%;
    height: 300px;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

li > a {    
    transition-duration: 0.4s;
}

li > a:hover {    
    font-size: 120%;
}





/* font-family: 'Lora', serif;
font-family: 'Roboto Mono', monospace; */

/* 
section 1 = #F7ECDE
section 2 = #E9DAC1
section 3 = #54BAB9

*/